.container{
    display: block;
    text-align: center;
}

.container div{
    height: 200px;
    border: 1px solid #a9a9ab;
    margin-top: 10px;
}

.container div p{
    margin-top: 150px;
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
}

.section-button{
    margin-top: 20px;
    text-align: center;
}

.section-button button{
    margin-left: 10px;
}